body {
  background: midnightblue;
}
.margin {
  background-color: slategrey;
  margin: -20px 0;
  padding: 20px 0;
}
.top {
  background: lavender;
  font-family: "cambria";

}
.smallerImg {
  border-radius: 50%;
  width: 200px;
}

.navbar-dark .navbar-toggle .icon-bar {
  background-color: lavender;
  color: lavender;
}
.navbar-dark .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
  color:#C80;
}
#Portfolio {
  text-align: center;
  color: lavender;
  font-family: copperplate;
  font-weight: bolder;
  font-size: 50px;
}
#ContactMe {
  text-align: center;
}
.mid {
  background: #44A;
}
.previewpic {
    border-radius: 5%;
    padding: 5px;
}
.well {
  border: 3px solid midnightblue;
}
.bot {
  background: lavender;
  color: midnightblue;
  font-family:  lucida sans typewriter;
}
::-webkit-input-placeholder {
    color: cadetblue;
}
input {
    background-color: lavender;
}
textarea {
    background-color: lavender;
    resize: none;
}
.input {
    border: none;
    border-bottom: 2px solid midnightblue;
    height: 50%;
    width: 75%;
    font-size: 250%;
    margin: 5px;
    background-color: lavender;
}

.message {
    border: none;
    border-bottom: 2px solid midnightblue;
    height: 50%;
    width: 75%;
    margin: 0 10% 0 0;
    font-size: 250%;
    padding: 0 5px 250px;
}
.foot {
  text-align: center;
}
.foot {
    background-color: darkslateblue;
    text-align: center;
    color: lightcoral;
}
.foot a{
    color: lavender;
}
.signed {
  text-align: center;
  background: midnightblue;
  color: #C80;
}
footer {
  height:auto;
  margin: -20px 0;
}
