#preview {
    background: #313f80;

  #wrapper {
      margin-left: auto;
      margin-right: auto;
      width: 400px;
      margin-top: 5%;
      margin-bottom: auto;
      height: 600px;
      background: #313f80;
  }
  .outer {

  }
  .window {
      background: #20d6d1;
      opacity: .6;
      font-family: monospace;


  }
  .window h4 {
      text-align: center;
      color: black;

  }
  .output {
      background: #bdf7f6;
      margin: 0 15px 0 22px;
      color: black;
      text-align: right;
      padding: 1px;
      border-width: thin;
      border-color: midnightblue;
  }
  .btn {
      background: white;
      opacity: 1;
      margin: 5px;
      border-color: midnightblue;
      width: 75px;
      height: 75px;
  }
  .buttons {
      text-align: center;
      padding: 10px 0 0 30px;
  }
  .home {
      margin: 20px 0 0 0;
  }
  .well {
    border: 1px solid midnightblue;
  }

}
