#preview {
  background: cadetblue;

  h1 {

  }

  .jokeCNT {
      background-color: aliceblue;
  }
  #getMessage {
  }
  .buttons {
      padding: 15px;
  }
  .icon {
      font-size: 40px;
  }
  .sign {
      color: aliceblue;
  }

}
